.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    background-size: cover;
    background: url("../yasai.png")center no-repeat;
}

.contact {
    position: absolute;
    width: 1880px;
    height: 180px;
    bottom: 0px;
    left:1px;
    background-color:white ;
    background-size: px;
}