
  :root{
    --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
   }

.body {
    font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
  }

.h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
  }

  .title{
    border-bottom: 2px solid #5eb55b;
    border-left: 10px solid #5eb55b;
    padding: 7px;
  }


.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    background-size: cover;
    background: url("yasai.png")center no-repeat;
}

.contact {
    position: absolute;
    width: 1880px;
    height: 180px;
    bottom: 0px;
    left:1px;
    background-color:white ;
    background-size: px;
}

.radius{
  border-radius: 10px 10px 10px 10px;
  
}



.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color:#343a40;
  color: white;

  }
  .container .text-muted {
  margin: 20px 0;
  }
   
  .footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  }